<tr id="<%= calendar_event.id %>" class="event-row">
	<td><%= "#{calendar_event_counter}." %></td>
	<td><%= calendar_event.date %></td>
	<td>
		<% unless calendar_event.all_day %>
			<%= h calendar_event.start_time.strftime("%I:%M %p")%>
		<% else %>
			-
		<% end %>
	</td>
	<td>
		<%= link_to_remote (calendar_event.emphasis ? image_tag("bold.gif") : image_tag("unbold.gif")), {:update => nil, :url => {:action => 'toggle_emphasis', :id => calendar_event.id}}, {:class => "emphasize", :id => calendar_event.id}  %>
		<%= link_to calendar_event.name_and_location, edit_calendar_event_path(calendar_event), {:id => "calendar_event_#{calendar_event.id}", :class => (calendar_event.emphasis ? "emphasis" : nil)} %>
	</td>
	<td><%= link_to image_tag("delete.gif"), calendar_event, :confirm => "Delete #{calendar_event.name}?", :method => :delete, :class => 'delete' %></td>
</tr>
