<h1>Listing views</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sort order</th>
  </tr>

<% for view in @views %>
  <tr>
    <td><%=h view.name %></td>
    <td><%=h view.sort_order %></td>
    <td><%= link_to 'Show', view %></td>
    <td><%= link_to 'Edit', edit_view_path(view) %></td>
    <td><%= link_to 'Destroy', view, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New view', new_view_path %>
